@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&display=swap");

html {
  scroll-behavior: smooth;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
h1 {
  font-family: "Raleway";
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}
h2 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
}
h3 {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
}
h4 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}
h5 {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #86878b;
}
p {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.button-download {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 58px;
  cursor: pointer;
  border: 2px solid white;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  transition: 0.4s linear;
}

input {
  border: none;
  outline: none;
  border-bottom: 1px solid #bdbdbd;
}
