.footer {
  background-color: #000;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 545px;
  min-height: 164px;
  margin: 0 auto;
}
.footer-title__text {
  margin-top: 1.738rem;
}
.social-links__icon--small {
  height: 40px;
  transition: 0.3s;
}
.social-links__icon--small:hover {
  transform: scale(1.1);
}
.social-links--small {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
