.footer {
  background-color: var(--main-black);
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 10.25rem;
}
.footer-title__text {
  margin-top: 1.738rem;
}
.social-links__icon--small {
  height: 40px;
  transition: 0.3s;
}
.social-links__icon--small:hover {
  transform: scale(1.1);
}
.social-links--small {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 34.063rem;
}
