.section-header__title {
  text-align: center;
  margin: 3.125rem 0;
}
.section-header__line {
  margin: 0 auto;
  height: 1px;
  width: 170px;
  background-color: var(--main-orange);
}
.section-header__subtitle {
  text-align: center;
  margin-top: 2.5rem;
  color: var(--main-grey);
}
